@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard", sans-serif;
}

/* 테마별 background 색상 */
body[data-theme="modern"] {
  --background: #2e2e2e;
}

body[data-theme="blue"] {
  --background: #1e2229;
}

body[data-theme="pink"] {
  --background: #2b2b2b;
}

body[data-theme="orange"] {
  --background: #2c2a28;
}

body[data-theme="ivory"] {
  --background: #2b2825;
}
